<svg version="1.1"
     ng-attr-width="{{graph.diameter }}px"
     ng-attr-height="{{graph.diameter}}px"
     ng-attr-viewBox="0 0 {{ graph.diameter }} {{ graph.diameter }}"
     xml:space="preserve"
     class="radial-graph">
     <g ng-attr-transform="translate({{graph.trackWeight/2}}, {{graph.trackWeight/2}}) scale({{ (graph.diameter - graph.trackWeight)/graph.diameter }})">
       <path class="track"
          fill="none"
          ng-attr-stroke="{{ graph.color }}"
          stroke-width="{{ graph.trackWeight }}"
          ng-attr-d='M{{ graph.coords.x }},{{ graph.coords.y }}
             A{{ graph.radius }},{{ graph.radius }}
              1 {{graph.trackArc}},1
              {{ graph.radius }},0'>
        </path>

        <path class="progress"
          fill="none"
          ng-attr-stroke="{{ graph.fill }}"
          stroke-width="{{ graph.trackWeight }}"
          ng-attr-d='M{{ graph.radius }},0
             A{{ graph.radius }},{{ graph.radius }}
              1 {{graph.fillArc}},1
              {{ graph.coords.x }},{{ graph.coords.y }}' />
      </g>

</svg>
